Repository oci-landing-zones/oci-landing-zone-operating-entities, changes with the owners that CODEOWNERS names for each.
All owners: @hrvolapeter, @rphibbert, @paolajuarezgomez, @vavardan, @paalonso

finops doc,assets added
  addons/oci-finops/content/implementation.md
  addons/oci-finops/content/sql/admin.sql
  addons/oci-finops/content/sql/finopsuser.sql
  addons/oci-finops/content/terraform/funccode/Dockerfile
  addons/oci-finops/content/terraform/funccode/func.py
  addons/oci-finops/content/terraform/funccode/requirements.txt
  addons/oci-finops/content/terraform/main.tf
  addons/oci-finops/content/terraform/variables.tf
Owners: none

added variables in terraform
  addons/oci-finops/content/sql/admin.sql
  addons/oci-finops/content/terraform/main.tf
  addons/oci-finops/content/terraform/variables.tf
Owners: none

updated terraform code
  addons/oci-finops/content/implementation.md
  addons/oci-finops/content/terraform/main.tf
  addons/oci-finops/content/terraform/variables.tf
Owners: none

updated doc and tf code
  addons/oci-finops/content/implementation.md
  addons/oci-finops/content/terraform/main.tf
  addons/oci-finops/content/terraform/variables.tf
Owners: none

added policies doc and terraform.tfvars template
  addons/oci-finops/content/implementation.md
  addons/oci-finops/content/policies.md
  addons/oci-finops/content/terraform/main.tf
  addons/oci-finops/content/terraform/terraform.tfvars.example
  addons/oci-finops/content/terraform/variables.tf
Owners: none

added bucket resource
  addons/oci-finops/content/terraform/main.tf
  addons/oci-finops/content/terraform/terraform.tfvars.example
Owners: none

Finops addon
  addons/oci-finops/content/implementation.md
  addons/oci-finops/content/policies.md
  addons/oci-finops/content/sql/admin.sql
  addons/oci-finops/content/sql/finopsuser.sql
  addons/oci-finops/content/terraform/funccode/Dockerfile
  addons/oci-finops/content/terraform/funccode/func.py
  addons/oci-finops/content/terraform/funccode/requirements.txt
  addons/oci-finops/content/terraform/main.tf
  addons/oci-finops/content/terraform/terraform.tfvars.example
  addons/oci-finops/content/terraform/variables.tf
Owners: none

updating FinOps contents
  addons/oci-finops/README.md
  addons/oci-finops/images/OCI_FinOps_Arch.png
Owners: none

update TBAC limits
  addons/oci-tbac/README.md
Owners: none

fix(oke): typo
  workload-extensions/oke/single-stack/1_oke_extension/oke_network.auto.tfvars.json
Owners: @paolajuarezgomez

removed incomplete wl ext
  workload-extensions/exadb-d/1_exadb-d_extension/readme.md
  workload-extensions/exadb-d/readme.md
  workload-extensions/readme.md
Owners: none

update security cis1 sz345
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl1_addon_sz345.auto.tfvars.json
Owners: @paalonso

finops addon updated
  addons/oci-finops/content/implementation.md
  addons/oci-finops/content/policies.md
  addons/oci-finops/content/sql/finopsuser.sql
  addons/oci-finops/content/terraform/funccode/Dockerfile
  addons/oci-finops/content/terraform/funccode/func.py
  addons/oci-finops/content/terraform/funccode/requirements.txt
  addons/oci-finops/content/terraform/main.tf
  addons/oci-finops/content/terraform/terraform.tfvars.example
  addons/oci-finops/content/terraform/variables.tf
Owners: none

finops addon updated (#155)
  addons/oci-finops/content/implementation.md
  addons/oci-finops/content/policies.md
  addons/oci-finops/content/sql/finopsuser.sql
  addons/oci-finops/content/terraform/funccode/Dockerfile
  addons/oci-finops/content/terraform/funccode/func.py
  addons/oci-finops/content/terraform/funccode/requirements.txt
  addons/oci-finops/content/terraform/main.tf
  addons/oci-finops/content/terraform/terraform.tfvars.example
  addons/oci-finops/content/terraform/variables.tf
Owners: none

FinOps Contents
  addons/oci-finops/README.md
  addons/oci-finops/finops-setup/implementation.md
  addons/oci-finops/finops-setup/policies.md
  addons/oci-finops/finops-setup/sql/admin.sql
  addons/oci-finops/finops-setup/sql/finopsuser.sql
  addons/oci-finops/finops-setup/terraform/main.tf
  addons/oci-finops/finops-setup/terraform/terraform.tfvars.example
  addons/oci-finops/finops-setup/terraform/variables.tf
  addons/oci-finops/images/OCI_FinOps_Arch.png
Owners: none

FinOps Contents
  addons/oci-finops/finops-setup/README.md
  addons/oci-finops/finops-setup/finops_iam.auto.tfvars.json
  addons/oci-finops/finops-setup/finops_network.auto.tfvars.json
Owners: none

FinOps Contents
  addons/oci-finops/finops-setup/README.md
Owners: none

FinOps Contents
  addons/oci-finops/README.md
Owners: none

FinOps Contents
  addons/oci-finops/README.md
Owners: none

FinOps Contents
  addons/oci-finops/README.md
  addons/oci-finops/finops-setup/README.md
Owners: none

FinOps Contents
  addons/oci-finops/README.md
Owners: none

typo fix
  addons/oci-finops/README.md
Owners: none

typo fix
  addons/oci-finops/README.md
  addons/oci-finops/finops-setup/README.md
Owners: none

typo fix
  addons/oci-finops/finops-setup/finops_iam.auto.tfvars.json
Owners: none

Adding Contents
  addons/oci-finops/README.md
  addons/oci-finops/finops-setup/README.md
  addons/oci-finops/finops-setup/finops_network.auto.tfvars.json
Owners: none

Adding Contents
  addons/oci-finops/finops-setup/README.md
Owners: none

updating README.md
  addons/oci-finops/README.md
  addons/oci-finops/finops-setup/README.md
Owners: none

updating README.md
  addons/oci-finops/README.md
Owners: none

updating README.md
  addons/oci-finops/README.md
Owners: none

updating README.md
  addons/oci-finops/README.md
Owners: none

updating README.md
  addons/oci-finops/finops-setup/README.md
Owners: none

updating README.md
  addons/oci-finops/README.md
Owners: none

updating README.md
  addons/oci-finops/README.md
Owners: none

updating README.md
  addons/oci-finops/README.md
Owners: none

updating README.md
  addons/oci-finops/README.md
  addons/oci-finops/finops-setup/README.md
Owners: none

updating README.md
  addons/oci-finops/finops-setup/README.md
Owners: none

fixing typos
  addons/oci-finops/finops-setup/README.md
  addons/oci-finops/finops-setup/finops_network.auto.tfvars.json
Owners: none

config update
  addons/oci-finops/finops-setup/terraform/README.md
  addons/oci-finops/finops-setup/terraform/main.tf
  addons/oci-finops/finops-setup/terraform/variables.tf
Owners: none

Final Updates
  addons/oci-finops/finops-setup/README.md
  addons/oci-finops/finops-setup/finops_network.auto.tfvars.json
Owners: none

Final Updates
  addons/oci-finops/finops-setup/README.md
Owners: none

CODEOWNERS:

/workload-extensions/ocvs/ @hrvolapeter
/workload-extensions/ebs/ @rphibbert
/workload-extensions/oke/ @paolajuarezgomez
/addons/oci-hub-models/ @vavardan @paalonso
/addons/oci-sovereign-landing-zone/ @vavardan @hrvolapeter @paolajuarezgomez
/addons/oci-lz-subnetting/ @paolajuarezgomez @paalonso
/blueprints/one-oe/runtime/ @paalonso
/blueprints/multi-oe/generic_v1/runtime/ @paalonso
/blueprints/multi-oe/saas/runtime/ @paalonso
/workload-extensions/exacc/ @paalonso
