Repository oci-landing-zones/oci-landing-zone-operating-entities, changes with the owners that CODEOWNERS names for each.
All owners: @hrvolapeter, @rphibbert, @paolajuarezgomez, @vavardan, @paalonso

added new network jsons
  addons/oci-hub-models/hub_a/addon_hub_a_network.json
  addons/oci-hub-models/hub_a/addon_hub_a_network_pre.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_post.auto.tfvars.json
  addons/oci-hub-models/hub_b/addon_hub_b_network.json
  addons/oci-hub-models/hub_b/addon_hub_b_network_pre.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_light.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_light_post.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_post.auto.tfvars.json
  addons/oci-hub-models/hub_c/addon_hub_c_network.json
  addons/oci-hub-models/hub_c/addon_hub_c_network_backends.json
  addons/oci-hub-models/hub_c/addon_hub_c_network_pre.json
  addons/oci-hub-models/hub_e/addon_hub_e_network.json
  addons/oci-hub-models/hub_e/oci_open_lz_hub_e_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_light.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_light_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network_post_backends.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_e_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_a_network.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_a_network_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_b_network.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_b_network_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_c_network.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_c_network_backends.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_c_network_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_e_network.json
Owners: @vavardan, @paalonso

update iam, observability and security json files
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl1.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl1_addon_flowlogs.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl2.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl2_addon_flowlogs.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2_addon_sz345.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oneoe_governance.json
  blueprints/one-oe/runtime/one-stack/oneoe_iam.json
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis1.json
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis1_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis2.json
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis2_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis1.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis1_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis2.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis2_pre.json
Owners: @paalonso

updated network jsons
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_a.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_a_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_b.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_b_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_c.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_c_backends.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_c_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_e.json
Owners: @paalonso

fix: oke identity simple
  gen/workload-extensions/oke/simple/single-stack/oke_identity.auto.tfvars.jsonnet
  workload-extensions/oke/simple/single-stack/oke_identity.auto.tfvars.json
Owners: @paolajuarezgomez

added new network jsons
  addons/oci-hub-models/hub_a/addon_hub_a_network.json
  addons/oci-hub-models/hub_a/addon_hub_a_network_pre.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_post.auto.tfvars.json
  addons/oci-hub-models/hub_b/addon_hub_b_network.json
  addons/oci-hub-models/hub_b/addon_hub_b_network_pre.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_light.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_light_post.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_post.auto.tfvars.json
  addons/oci-hub-models/hub_c/addon_hub_c_network.json
  addons/oci-hub-models/hub_c/addon_hub_c_network_backends.json
  addons/oci-hub-models/hub_c/addon_hub_c_network_pre.json
  addons/oci-hub-models/hub_e/addon_hub_e_network.json
  addons/oci-hub-models/hub_e/oci_open_lz_hub_e_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_light.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_light_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network_post_backends.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_e_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_a_network.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_a_network_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_b_network.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_b_network_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_c_network.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_c_network_backends.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_c_network_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_hub_e_network.json
Owners: @vavardan, @paalonso

minor updates cloud guard
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis1.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis1_pre.json
Owners: @paalonso

updated network jsons
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_a.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_a_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_b.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_b_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_c.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_c_backends.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_c_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_e.json
Owners: @paalonso

update iam, observability and security json files
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl1.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl1_addon_flowlogs.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl2.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl2_addon_flowlogs.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2_addon_sz345.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oneoe_governance.json
  blueprints/one-oe/runtime/one-stack/oneoe_iam.json
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis1.json
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis1_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis2.json
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis2_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis1.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis1_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis2.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis2_pre.json
Owners: @paalonso

Update one_oe_hub_a.md
  blueprints/one-oe/runtime/one-stack/one_oe_hub_a.md
Owners: @paalonso

Update readme.md
  blueprints/one-oe/runtime/one-stack/readme.md
Owners: @paalonso

refined jsons, update on hub addons
  addons/oci-hub-models/hub_a/addon_network_hub_a.json
  addons/oci-hub-models/hub_a/addon_network_hub_a_pre.json
  addons/oci-hub-models/hub_a/oneoe_iam.json
  addons/oci-hub-models/hub_a/readme.md
  addons/oci-hub-models/hub_b/addon_network_hub_b.json
  addons/oci-hub-models/hub_b/addon_network_hub_b_pre.json
  addons/oci-hub-models/hub_b/oneoe_iam.json
  addons/oci-hub-models/hub_b/readme.md
  addons/oci-hub-models/hub_c/addon_network_hub_c.json
  addons/oci-hub-models/hub_c/addon_network_hub_c_backends.json
  addons/oci-hub-models/hub_c/addon_network_hub_c_pre.json
  addons/oci-hub-models/hub_c/oneoe_iam.json
  addons/oci-hub-models/hub_c/readme.md
  addons/oci-hub-models/hub_e/addon_network_hub_e.json
  addons/oci-hub-models/hub_e/oneoe_iam.json
  addons/oci-hub-models/hub_e/readme.md
  addons/oci-hub-models/readme.md
  blueprints/one-oe/runtime/one-stack/one_oe_hub_a.md
  blueprints/one-oe/runtime/one-stack/one_oe_hub_b.md
  blueprints/one-oe/runtime/one-stack/one_oe_hub_c.md
  blueprints/one-oe/runtime/one-stack/one_oe_hub_e.md
Owners: @vavardan, @paalonso

update readmes
  addons/oci-hub-models/hub_a/readme.md
  addons/oci-hub-models/hub_b/readme.md
  addons/oci-hub-models/hub_c/readme.md
Owners: @vavardan, @paalonso

update readmes
  addons/oci-hub-models/hub_a/readme.md
  addons/oci-hub-models/hub_b/readme.md
  addons/oci-hub-models/hub_c/readme.md
Owners: @vavardan, @paalonso

rename iam, update readmes
  addons/oci-hub-models/hub_a/addon_iam.json
  addons/oci-hub-models/hub_a/readme.md
  addons/oci-hub-models/hub_b/addon_iam.json
  addons/oci-hub-models/hub_b/readme.md
  addons/oci-hub-models/hub_c/addon_iam.json
  addons/oci-hub-models/hub_c/readme.md
  addons/oci-hub-models/hub_e/addon_iam.json
  addons/oci-hub-models/hub_e/readme.md
Owners: @vavardan, @paalonso

feat: update format script
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl1.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl1_addon_sz345.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2_addon_sz345.auto.tfvars.json
  gen/compare_json.sh
  gen/format_json.py
Owners: @paalonso

Resource Naming standards for one-oe jsons
  commons/content/resource_naming_conventions.md
Owners: none

Observability naming standardization
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis1.json
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis1_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis2.json
  blueprints/one-oe/runtime/one-stack/oneoe_observability_cis2_pre.json
Owners: @paalonso

update iam policies
  blueprints/one-oe/runtime/one-stack/oneoe_iam.json
Owners: @paalonso

Tag naming standard updates
  blueprints/one-oe/runtime/one-stack/oneoe_governance.json
  blueprints/one-oe/runtime/one-stack/oneoe_iam.json
Owners: @paalonso

Update readme.md
  blueprints/one-oe/runtime/one-stack/readme.md
Owners: @paalonso

Fixes on oneoe hubs readme
  blueprints/one-oe/runtime/one-stack/one_oe_hub_a.md
  blueprints/one-oe/runtime/one-stack/one_oe_hub_b.md
  blueprints/one-oe/runtime/one-stack/one_oe_hub_c.md
  blueprints/one-oe/runtime/one-stack/one_oe_hub_e.md
Owners: @paalonso

Fix readme.md
  blueprints/one-oe/readme.md
Owners: none

Update jsons
  addons/oci-hub-models/hub_a/addon_network_hub_a.json
  addons/oci-hub-models/hub_a/addon_network_hub_a_pre.json
  addons/oci-hub-models/hub_b/addon_network_hub_b.json
  addons/oci-hub-models/hub_b/addon_network_hub_b_pre.json
  addons/oci-hub-models/hub_c/addon_network_hub_c.json
  addons/oci-hub-models/hub_c/addon_network_hub_c_backends.json
  addons/oci-hub-models/hub_c/addon_network_hub_c_pre.json
  addons/oci-hub-models/hub_e/addon_network_hub_e.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_a.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_a_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_b.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_b_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_c.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_c_backends.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_c_pre.json
  blueprints/one-oe/runtime/one-stack/oneoe_network_hub_e.json
  workload-extensions/oke/simple/single-stack/oke_network.auto.tfvars.json
Owners: @vavardan, @paalonso, @paolajuarezgomez

Update copyright year in README.md
  workload-extensions/openshift/README.md
Owners: none

Update copyright year in README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

Update copyright year in README.md
  workload-extensions/openshift/2_openshift_installation/README.md
Owners: none

Update copyright year in README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/README.md
Owners: none

Update Openshift icon path in readme
  workload-extensions/readme.md
Owners: none

update designs
  blueprints/one-oe/design/images/oneoe_hub_a.png
  blueprints/one-oe/design/images/oneoe_hub_a_deployment_view.png
  blueprints/one-oe/design/images/oneoe_hub_b.png
  blueprints/one-oe/design/images/oneoe_hub_b_deployment_view.png
  blueprints/one-oe/design/images/oneoe_hub_c.png
  blueprints/one-oe/design/images/oneoe_hub_c_deployment_view.png
  blueprints/one-oe/design/images/oneoe_hub_e.png
  blueprints/one-oe/design/images/oneoe_hub_e_deployment_view.png
Owners: none

Rename OCI_Open_LZ_One-OE_Blueprint.drawio to OCI_Open_LZ_One-OE-Blueprint.drawio
  blueprints/one-oe/design/OCI_Open_LZ_One-OE-Blueprint.drawio
Owners: none

feat: update simple oke docs
  workload-extensions/oke/simple/readme.md
Owners: @paolajuarezgomez

orm update
  addons/oci-hub-models/hub_a/readme.md
  addons/oci-hub-models/hub_b/readme.md
  addons/oci-hub-models/hub_c/readme.md
  addons/oci-hub-models/hub_e/readme.md
  blueprints/one-oe/design/images/oneoe_hub_c.png
  blueprints/one-oe/runtime/one-stack/one_oe_hub_a.md
  blueprints/one-oe/runtime/one-stack/one_oe_hub_b.md
  blueprints/one-oe/runtime/one-stack/one_oe_hub_c.md
  blueprints/one-oe/runtime/one-stack/one_oe_hub_e.md
Owners: @vavardan, @paalonso

update oke diagram
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis1.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis1_pre.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis2.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oneoe_security_cis2_pre.auto.tfvars.json
  workload-extensions/oke/simple/single-stack/readme.md
Owners: @paalonso, @paolajuarezgomez

update size image
  workload-extensions/oke/simple/single-stack/readme.md
Owners: @paolajuarezgomez

update jsonnet
  gen/blueprints/one-oe/runtime/one-stack/oneoe_security_cis1.jsonnet
  gen/blueprints/one-oe/runtime/one-stack/oneoe_security_cis1_pre.jsonnet
  gen/blueprints/one-oe/runtime/one-stack/oneoe_security_cis2.jsonnet
  gen/blueprints/one-oe/runtime/one-stack/oneoe_security_cis2_pre.jsonnet
Owners: none

CODEOWNERS:

/workload-extensions/ocvs/ @hrvolapeter
/workload-extensions/ebs/ @rphibbert
/workload-extensions/oke/ @paolajuarezgomez
/addons/oci-hub-models/ @vavardan @paalonso
/addons/oci-sovereign-landing-zone/ @vavardan @hrvolapeter @paolajuarezgomez
/addons/oci-lz-subnetting/ @paolajuarezgomez @paalonso
/blueprints/one-oe/runtime/ @paalonso
/blueprints/multi-oe/generic_v1/runtime/ @paalonso
/blueprints/multi-oe/saas/runtime/ @paalonso
/workload-extensions/exacc/ @paalonso
