Repository oci-landing-zones/oci-landing-zone-operating-entities, changes with the owners that CODEOWNERS names for each.
All owners: @hrvolapeter, @rphibbert, @paolajuarezgomez, @vavardan, @paalonso

CODEOWNERS:

/workload-extensions/ocvs/ @hrvolapeter
/workload-extensions/ebs/ @rphibbert
/workload-extensions/oke/ @paolajuarezgomez
/addons/oci-hub-models/ @vavardan @paalonso
/addons/oci-sovereign-landing-zone/ @vavardan @hrvolapeter @paolajuarezgomez
/addons/oci-lz-subnetting/ @paolajuarezgomez @paalonso
/blueprints/one-oe/runtime/ @paalonso
/blueprints/multi-oe/generic_v1/runtime/ @paalonso
/blueprints/multi-oe/saas/runtime/ @paalonso
/workload-extensions/exacc/ @paalonso

Final Updates
  addons/oci-finops/finops-setup/README.md
Owners: none

Final Updates
  addons/oci-finops/finops-setup/terraform/README.md
Owners: none

FinOps Addon
  addons/oci-finops/README.md
  addons/oci-finops/finops-setup/README.md
  addons/oci-finops/finops-setup/finops_iam.auto.tfvars.json
  addons/oci-finops/finops-setup/finops_network.auto.tfvars.json
  addons/oci-finops/finops-setup/policies.md
  addons/oci-finops/finops-setup/sql/admin.sql
  addons/oci-finops/finops-setup/sql/finopsuser.sql
  addons/oci-finops/finops-setup/terraform/README.md
  addons/oci-finops/finops-setup/terraform/main.tf
  addons/oci-finops/finops-setup/terraform/terraform.tfvars.example
  addons/oci-finops/finops-setup/terraform/variables.tf
  addons/oci-finops/images/OCI_FinOps_Arch.png
Owners: none

Finnal Changes
  addons/oci-finops/finops-setup/README.md
  addons/oci-finops/finops-setup/finops_iam.auto.tfvars.json
  addons/oci-finops/finops-setup/finops_network.auto.tfvars.json
  addons/oci-finops/finops-setup/policies.md
Owners: none

Finnal Changes
  addons/oci-finops/finops-setup/README.md
  addons/oci-finops/finops-setup/finops_iam.auto.tfvars.json
Owners: none

Finnal Changes
  addons/oci-finops/finops-setup/README.md
Owners: none

Finnal Changes
  addons/oci-finops/finops-setup/README.md
Owners: none

FinOps Addon
  addons/oci-finops/README.md
  addons/oci-finops/finops-setup/README.md
  addons/oci-finops/finops-setup/finops_iam.auto.tfvars.json
  addons/oci-finops/finops-setup/finops_network.auto.tfvars.json
  addons/oci-finops/finops-setup/policies.md
  addons/oci-finops/finops-setup/sql/admin.sql
  addons/oci-finops/finops-setup/sql/finopsuser.sql
  addons/oci-finops/finops-setup/terraform/README.md
  addons/oci-finops/finops-setup/terraform/main.tf
  addons/oci-finops/finops-setup/terraform/terraform.tfvars.example
  addons/oci-finops/finops-setup/terraform/variables.tf
  addons/oci-finops/images/OCI_FinOps_Arch.png
Owners: none

Added Finops to Addon README.md
  addons/oci-finops/images/finops.png
  addons/oci-finops/images/finops.svg
  addons/readme.md
Owners: none

Update FinOps to Addon README.md
  addons/readme.md
Owners: none

push changes
  addons/oci-secure-desktops/readme.md
Owners: none

format
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_post.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_light.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_light_post.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_light.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_light_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl1.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl1_addon_sz345.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2_addon_sz345.auto.tfvars.json
Owners: @vavardan, @paalonso

add numbers to net categories for ordering
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_post.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_light.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_light_post.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_post.auto.tfvars.json
  addons/oci-hub-models/hub_e/oci_open_lz_hub_e_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light_post_DNS.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_light.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_light_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network_post_backends.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_e_network.auto.tfvars.json
Owners: @vavardan, @paalonso

format everything
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_post.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_light.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_light_post.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_post.auto.tfvars.json
  addons/oci-hub-models/hub_e/oci_open_lz_hub_e_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light_post_DNS.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_light.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_light_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_c_network_post_backends.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_e_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl1.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl1_addon_flowlogs.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl2.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_observability_cisl2_addon_flowlogs.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl1.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl1_addon_sz345.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2_addon_sz345.auto.tfvars.json
Owners: @vavardan, @paalonso

bootstrap jsonnet generation
  .githooks/post-commit
  .githooks/pre-commit
  .github/workflows/check-filesize.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/filesize.yml
  gen/generate.sh
Owners: none

feat: doc updates
  blueprints/multi-oe/readme.md
  blueprints/multi-oe/service-providers/runtime/readme.md
Owners: none

fix: drawio link
  blueprints/multi-oe/readme.md
Owners: none

test: branch testing
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FIREWALL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FOUNDATIONAL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-NETWORKING.md
  blueprints/multi-oe/service-providers/runtime/docs/POD-CUSTOMER-ONBOARDING.md
Owners: none

fix: isv-logging-cmp renamed to isv-security-cmp
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/iam/iam_config.json
Owners: none

Initial draft version of revised policies
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam-small.auto.tfvars.json
Owners: @paalonso

Fixed commas
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam-small.auto.tfvars.json
Owners: @paalonso

simplify permissions
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam-small.auto.tfvars.json
Owners: @paalonso

Corrected One-OE Deploy to OCI Hub A link
  workload-extensions/ebs/1_ebs_extension/readme.md
Owners: @rphibbert

Corrected One-OE Deploy to OCI button for Hub A network
  workload-extensions/ebs/1_ebs_extension/readme.md
Owners: @rphibbert

test: multi-tenant pattern
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED.md
Owners: none

fix: budget removed
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/governance/budgets_config.json
Owners: none

feat: files updates
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FIREWALL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FOUNDATIONAL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-NETWORKING.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-CUSTOMER-ONBOARDING.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED-DB.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED-OKE.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED.md
  blueprints/multi-oe/service-providers/runtime/docs/POD-CUSTOMER-ONBOARDING.md
  blueprints/multi-oe/service-providers/runtime/mt/shared/db/budgets_config.json
  blueprints/multi-oe/service-providers/runtime/mt/shared/db/iam_config.json
  blueprints/multi-oe/service-providers/runtime/mt/shared/db/network_exacs_config.json
  blueprints/multi-oe/service-providers/runtime/mt/shared/oke/network_oke_flannel_config.json
  blueprints/multi-oe/service-providers/runtime/mt/shared/oke/network_oke_npn_config.json
  blueprints/multi-oe/service-providers/runtime/mt/shared/oke/oke_flannel_cluster_config.json
  blueprints/multi-oe/service-providers/runtime/mt/shared/oke/oke_npn_cluster_config.json
Owners: none

feat: updates
  blueprints/multi-oe/readme.md
  blueprints/multi-oe/service-providers/runtime/readme.md
Owners: none

feat: link updates
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FIREWALL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FOUNDATIONAL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-NETWORKING.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-CUSTOMER-ONBOARDING.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED-DB.md
Owners: none

fix: added OSS routing
  blueprints/multi-oe/service-providers/runtime/mt/shared/db/network_exacs_config.json
  blueprints/multi-oe/service-providers/runtime/mt/shared/oke/network_oke_flannel_config.json
  blueprints/multi-oe/service-providers/runtime/mt/shared/oke/network_oke_npn_config.json
Owners: none

fix: added tags_config.json to automation
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FOUNDATIONAL.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED-DB.md
Owners: none

fix: tagging
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/iam/iam_config.json
  blueprints/multi-oe/service-providers/runtime/mt/shared/db/iam_config.json
  blueprints/multi-oe/service-providers/runtime/pod/customer1/compartments_config.json
Owners: none

fix tag keys set unique
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/iam/iam_config.json
  blueprints/multi-oe/service-providers/runtime/mt/shared/db/iam_config.json
  blueprints/multi-oe/service-providers/runtime/pod/customer1/compartments_config.json
Owners: none

fix: tag key updated
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/iam/iam_config.json
Owners: none

fix: missing "
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED-OKE.md
Owners: none

fix: missing ending "
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED-OKE.md
Owners: none

feat: npn network addressing updated
  blueprints/multi-oe/service-providers/runtime/mt/shared/oke/network_oke_npn_config.json
Owners: none

fix: ssh key set to null
  blueprints/multi-oe/service-providers/runtime/mt/shared/oke/oke_flannel_cluster_config.json
  blueprints/multi-oe/service-providers/runtime/mt/shared/oke/oke_npn_cluster_config.json
Owners: none

Added tag ns and def, reduced network and security groups and modified policies for using tags.
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_governance.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam-small.auto.tfvars.json
Owners: @paalonso

chore: test ssh
  blueprints/multi-oe/service-providers/runtime/mt/shared/oke/oke_npn_cluster_config.json
Owners: none
