Repository oci-landing-zones/oci-landing-zone-operating-entities, changes with the owners that CODEOWNERS names for each.
All owners: @hrvolapeter, @rphibbert, @paolajuarezgomez, @vavardan, @paalonso

faq updates
  faq/README.md
Owners: none

faq updates
  faq/README.md
Owners: none

faq updates
  faq/README.md
Owners: none

faq updates
  faq/README.md
Owners: none

faq updates
  faq/README.md
Owners: none

faq updates
  faq/README.md
Owners: none

change naming convention
  addons/oci-hub-models/hub_e/oci_oe_lz_addon_hub_e_network.tfvars.json
Owners: @vavardan, @paalonso

Update oci_oe_lz_addon_hub_e_network.tfvars.json
  addons/oci-hub-models/hub_e/oci_oe_lz_addon_hub_e_network.tfvars.json
Owners: @vavardan, @paalonso

updates FAQ page
  faq/README.md
  faq/bak/faq_design_.md.bak
  faq/bak/faq_general.md.bak
  faq/bak/faq_implementation.md.bak
  faq/bak/faq_support.md.bak
  faq/content/Assets.png
  faq/content/Hubs.png
  faq/faq_design_.md
  faq/faq_general.md
  faq/faq_implementation.md
  faq/faq_support.md
Owners: none

updates faq page
  faq/README.md
  faq/faq_design_.md
  faq/faq_general.md
  faq/faq_implementation.md
Owners: none

minor updates faq
  faq/bak/faq_design_.md.bak
  faq/bak/faq_general.md.bak
  faq/bak/faq_implementation.md.bak
  faq/bak/faq_support.md.bak
Owners: none

added cleaned HubE and OneOE_HubE
  addons/oci-hub-models/hub_e/oci_oe_lz_Hub_E_ADDON_network.json
  blueprints/one-oe/runtime/one-stack/oci_oe_lz_Hub_E_ONE-OE_network.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_e_network.auto.tfvars.json
Owners: @vavardan, @paalonso

simplify permissions
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam-small.auto.tfvars.json
Owners: @paalonso

Added tag ns and def, reduced network and security groups and modified policies for using tags.
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_governance.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam-small.auto.tfvars.json
Owners: @paalonso

Update oci_open_lz_one-oe_iam-small.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam-small.auto.tfvars.json
Owners: @paalonso

Fixed commas
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam-small.auto.tfvars.json
Owners: @paalonso

Update oci_open_lz_one-oe_iam-small.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam-small.auto.tfvars.json
Owners: @paalonso

Initial draft version of revised policies
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam-small.auto.tfvars.json
Owners: @paalonso

refactor
  addons/oci-secure-desktops/readme.md
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam-small.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/readme.md
  workload-extensions/ebs/1_ebs_extension/readme.md
  workload-extensions/oke/multi-stack/1_oke_extension/readme.md
Owners: @paalonso, @rphibbert, @paolajuarezgomez

rename key
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_governance.auto.tfvars.json
Owners: @paalonso

Update oci_oe_lz_Hub_E_ONE-OE_network.json
  blueprints/one-oe/runtime/one-stack/oci_oe_lz_Hub_E_ONE-OE_network.json
Owners: @paalonso

remove duplicate permisions
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_iam.auto.tfvars.json
Owners: @paalonso

added new one_oe and addon for Hub B
  addons/oci-hub-models/hub_b/oci_oe_lz_Hub_B_ADDON_network-post.json
  addons/oci-hub-models/hub_b/oci_oe_lz_Hub_B_ADDON_network.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network.auto.tfvars.json
  addons/oci-hub-models/hub_b/oci_open_lz_hub_b_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_oe_lz_Hub_B_ONE-OE_network-post.json
  blueprints/one-oe/runtime/one-stack/oci_oe_lz_Hub_B_ONE-OE_network.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_b_network_post.auto.tfvars.json
Owners: @vavardan, @paalonso

feat: add formating script
  .github/workflows/check-generated-files.yml
  .github/workflows/check-json-format.yml
  gen/format_json.py
  gen/generate.sh
Owners: none

updating README.md
  workload-extensions/openshift/2_openshift_installation/README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/oci_open_lz_hub_e_network_post.auto.tfvars.json
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/oci_openshift_lz_ext_network_post.auto.tfvars.json
  workload-extensions/openshift/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
  workload-extensions/openshift/1_openshift_extension/oci_openshift_lz_ext_network.auto.tfvars.json
Owners: none

updating README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating README.md
  workload-extensions/openshift/README.md
  workload-extensions/openshift/contents/icon_openshift.png
Owners: none

updating README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/README.md
Owners: none

updating README.md
  workload-extensions/openshift/README.md
Owners: none

updating README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/oci_open_lz_hub_e_network_post.auto.tfvars.json
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/oci_openshift_lz_ext_network_post.auto.tfvars.json
  workload-extensions/openshift/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
  workload-extensions/openshift/1_openshift_extension/oci_openshift_lz_ext_iam.auto.tfvars.json
  workload-extensions/openshift/1_openshift_extension/oci_openshift_lz_ext_network.auto.tfvars.json
  workload-extensions/openshift/contents/openshift_compartments.png
Owners: none

updating README.md
  workload-extensions/openshift/2_openshift_installation/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

initial commit
  workload-extensions/openshift/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
  workload-extensions/openshift/2_openshift_installation/README.md
Owners: none

updating README.md
  workload-extensions/openshift/2_openshift_installation/README.md
Owners: none

updating README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/oci_open_lz_hub_e_network_post.auto.tfvars.json
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/oci_openshift_lz_ext_network_post.auto.tfvars.json
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

CODEOWNERS:

/workload-extensions/ocvs/ @hrvolapeter
/workload-extensions/ebs/ @rphibbert
/workload-extensions/oke/ @paolajuarezgomez
/addons/oci-hub-models/ @vavardan @paalonso
/addons/oci-sovereign-landing-zone/ @vavardan @hrvolapeter @paolajuarezgomez
/addons/oci-lz-subnetting/ @paolajuarezgomez @paalonso
/blueprints/one-oe/runtime/ @paalonso
/blueprints/multi-oe/generic_v1/runtime/ @paalonso
/blueprints/multi-oe/saas/runtime/ @paalonso
/workload-extensions/exacc/ @paalonso
