Repository oci-landing-zones/oci-landing-zone-operating-entities, changes with the owners that CODEOWNERS names for each.
All owners: @hrvolapeter, @rphibbert, @paolajuarezgomez, @vavardan, @paalonso

CODEOWNERS:

/workload-extensions/ocvs/ @hrvolapeter
/workload-extensions/ebs/ @rphibbert
/workload-extensions/oke/ @paolajuarezgomez
/addons/oci-hub-models/ @vavardan @paalonso
/addons/oci-sovereign-landing-zone/ @vavardan @hrvolapeter @paolajuarezgomez
/addons/oci-lz-subnetting/ @paolajuarezgomez @paalonso
/blueprints/one-oe/runtime/ @paalonso
/blueprints/multi-oe/generic_v1/runtime/ @paalonso
/blueprints/multi-oe/saas/runtime/ @paalonso
/workload-extensions/exacc/ @paalonso

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating README.md
  workload-extensions/openshift/2_openshift_installation/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

chore: format
  workload-extensions/openshift/1_openshift_extension/oci_openshift_lz_ext_iam.auto.tfvars.json
  workload-extensions/openshift/1_openshift_extension/oci_openshift_lz_ext_network.auto.tfvars.json
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/oci_open_lz_hub_e_network_post.auto.tfvars.json
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/oci_openshift_lz_ext_network_post.auto.tfvars.json
Owners: none

Add files via upload
  workload-extensions/openshift/contents/openshift_network.jpeg
Owners: none

Update README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating readme
  workload-extensions/openshift/1_openshift_extension/README.md
  workload-extensions/openshift/README.md
Owners: none

updating readme
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating readme
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating readme
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating readme
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating readme
  workload-extensions/readme.md
Owners: none

updating copyright
  workload-extensions/openshift/2_openshift_installation/README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/README.md
Owners: none

minor changes
  faq/README.md
  faq/faq_design.md
  faq/faq_general.md
  faq/faq_support.md
Owners: none

minor updates
  faq/README.md
  faq/faq_general.md
  faq/faq_implementation.md
  faq/faq_support.md
Owners: none

minor updates
  faq/faq_design.md
  faq/faq_general.md
  faq/faq_implementation.md
  faq/faq_support.md
Owners: none

Openshift extension merged and released.
  workload-extensions/openshift/1_openshift_extension/README.md
  workload-extensions/openshift/1_openshift_extension/oci_openshift_lz_ext_iam.auto.tfvars.json
  workload-extensions/openshift/1_openshift_extension/oci_openshift_lz_ext_network.auto.tfvars.json
  workload-extensions/openshift/2_openshift_installation/README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/README.md
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/oci_open_lz_hub_e_network_post.auto.tfvars.json
  workload-extensions/openshift/3_openshift_ext_cleanup_and_routing/oci_openshift_lz_ext_network_post.auto.tfvars.json
  workload-extensions/openshift/README.md
  workload-extensions/openshift/contents/icon_openshift.png
  workload-extensions/openshift/contents/openshift_compartments.png
  workload-extensions/openshift/contents/openshift_network.jpeg
  workload-extensions/readme.md
Owners: none

Add files via upload
  workload-extensions/openshift/contents/icon_openshift.png
Owners: none

Creating TBAC for projects and proj1
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2.auto.tfvars.json
  workload-extensions/exacc/readme.md
  workload-extensions/exadb-d/readme.md
  workload-extensions/readme.md
Owners: @paalonso

hotfix: orchestrator update due to governance bug
  addons/oci-finops/finops-setup/README.md
  addons/oci-hub-models/hub_a/readme.md
  addons/oci-hub-models/hub_b/readme.md
  addons/oci-hub-models/hub_e/readme.md
  addons/oci-learn-lz/exercise1/readme.md
  addons/oci-secure-desktops/readme.md
  addons/oci-tbac/README.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/post_op01_01_update_dynamic_groups/readme.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/post_op01_02_update_routing_nfw_ip/readme.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/post_op01_03_add_drg_attachments_spokes_routing/readme.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/post_op01_04_update_iam_policies_project_team/readme.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/post_op01_05_update_hub_lb_new_apps/readme.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/readme.md
  blueprints/multi-oe/generic_v1/runtime/op02_manage_oes/oe01/post_op02_02_update_dynamic_groups/readme.md
  blueprints/multi-oe/generic_v1/runtime/op02_manage_oes/oe01/post_op02_03_update_iam_policies_project_team/readme.md
  blueprints/multi-oe/generic_v1/runtime/op02_manage_oes/oe01/readme.md
  blueprints/multi-oe/generic_v1/runtime/op03_manage_department/readme.md
  blueprints/multi-oe/generic_v1/runtime/op04_manage_projects/post_op04_01_update_dynamic_groups/readme.md
  blueprints/multi-oe/generic_v1/runtime/op04_manage_projects/readme.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FIREWALL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FOUNDATIONAL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-NETWORKING.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-TOOLING.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED-OKE.md
  blueprints/multi-oe/service-providers/runtime/docs/POD-CUSTOMER-ONBOARDING.md
  blueprints/one-oe/runtime/one-stack/readme.md
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/readme.md
  workload-extensions/ebs/1_ebs_extension/readme.md
  workload-extensions/exacc/1_exacc_extension/readme.md
  workload-extensions/hpc/1_hpc_extension/readme.md
  workload-extensions/ocvs/1_foundations/README.md
  workload-extensions/oke/multi-stack/1_oke_extension/readme.md
  workload-extensions/oke/single-stack/1_oke_extension/readme.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: @vavardan, @paalonso, @rphibbert, @hrvolapeter, @paolajuarezgomez

hotfix: orchestrator update due to governance bug
  addons/oci-finops/finops-setup/README.md
  addons/oci-hub-models/hub_a/readme.md
  addons/oci-hub-models/hub_b/readme.md
  addons/oci-hub-models/hub_e/readme.md
  addons/oci-learn-lz/exercise1/readme.md
  addons/oci-secure-desktops/readme.md
  addons/oci-tbac/README.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/post_op01_01_update_dynamic_groups/readme.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/post_op01_02_update_routing_nfw_ip/readme.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/post_op01_03_add_drg_attachments_spokes_routing/readme.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/post_op01_04_update_iam_policies_project_team/readme.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/post_op01_05_update_hub_lb_new_apps/readme.md
  blueprints/multi-oe/generic_v1/runtime/op01_manage_shared_services/readme.md
  blueprints/multi-oe/generic_v1/runtime/op02_manage_oes/oe01/post_op02_02_update_dynamic_groups/readme.md
  blueprints/multi-oe/generic_v1/runtime/op02_manage_oes/oe01/post_op02_03_update_iam_policies_project_team/readme.md
  blueprints/multi-oe/generic_v1/runtime/op02_manage_oes/oe01/readme.md
  blueprints/multi-oe/generic_v1/runtime/op03_manage_department/readme.md
  blueprints/multi-oe/generic_v1/runtime/op04_manage_projects/post_op04_01_update_dynamic_groups/readme.md
  blueprints/multi-oe/generic_v1/runtime/op04_manage_projects/readme.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FIREWALL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FOUNDATIONAL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-NETWORKING.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-TOOLING.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED-OKE.md
  blueprints/multi-oe/service-providers/runtime/docs/POD-CUSTOMER-ONBOARDING.md
  blueprints/one-oe/runtime/one-stack/readme.md
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/readme.md
  workload-extensions/ebs/1_ebs_extension/readme.md
  workload-extensions/exacc/1_exacc_extension/readme.md
  workload-extensions/hpc/1_hpc_extension/readme.md
  workload-extensions/ocvs/1_foundations/README.md
  workload-extensions/oke/multi-stack/1_oke_extension/readme.md
  workload-extensions/oke/single-stack/1_oke_extension/readme.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: @vavardan, @paalonso, @rphibbert, @hrvolapeter, @paolajuarezgomez

minor changes
  faq/faq_design.md
Owners: none

minot updates
  faq/faq_implementation.md
Owners: none

minor updates
  faq/faq_support.md
Owners: none

updates
  faq/faq_design.md
Owners: none

minor updates
  faq/ch
  faq/faq_design.md
Owners: none

minor updates
  faq/faq_design.md
Owners: none

minor updates
  faq/ch
Owners: none

minor updates
  faq/README.md
  faq/faq_general.md
Owners: none

minor updates
  faq/README.md
Owners: none

minor updates
  faq/README.md
Owners: none

minor updates
  faq/README.md
  faq/faq_general.md
Owners: none

updates
  faq/README.md
Owners: none

minor updates
  faq/README.md
Owners: none

fix lzp naming
  gen/workload-extensions/oke/simple/oke_network.libsonnet
  workload-extensions/oke/simple/multi-stack/oke_network.auto.tfvars.json
  workload-extensions/oke/simple/single-stack/oke_network.auto.tfvars.json
Owners: @paolajuarezgomez

update readmes
  README.md
  blueprints/multi-oe/readme.md
  blueprints/multi-tenancy/readme.md
  blueprints/one-oe/readme.md
  faq/README.md
Owners: none
