Repository oci-landing-zones/oci-landing-zone-operating-entities, changes with the owners that CODEOWNERS names for each.
All owners: @hrvolapeter, @rphibbert, @paolajuarezgomez, @vavardan, @paalonso

fix: test
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_host_config.json
Owners: none

fix: download to /tmp
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_host_config.json
Owners: none

fix: added \n to cloud-nit string
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_host_config.json
Owners: none

fix: yaml string
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_host_config.json
Owners: none

HPC Ext
  commons/images/icon_hpc.png
  workload-extensions/hpc/1_hpc_extension/1.1_Network_post_updates/readme.md
  workload-extensions/hpc/1_hpc_extension/ORM_HPC-LZ-EXT_deployment_steps.md
  workload-extensions/hpc/1_hpc_extension/ORM_ONE-OE_deployment_steps.md
  workload-extensions/hpc/1_hpc_extension/oci_hpc_lz_ext_iam.auto.tfvars.json
  workload-extensions/hpc/1_hpc_extension/oci_hpc_lz_ext_network.auto.tfvars.json
  workload-extensions/hpc/1_hpc_extension/oci_hpc_lz_ext_network_post.auto.tfvars.json
  workload-extensions/hpc/1_hpc_extension/oci_hpc_lz_ext_open_lz_post_hub_a_network_light.auto.tfvars.json
  workload-extensions/hpc/1_hpc_extension/readme.md
  workload-extensions/hpc/2_hpc/README.md
  workload-extensions/hpc/content/.$Network.png.bkp
  workload-extensions/hpc/content/.$Routing_ONE-OE_HubA.png.bkp
  workload-extensions/hpc/content/Bucket.png
  workload-extensions/hpc/content/BucketFiles.png
  workload-extensions/hpc/content/Complete.png
  workload-extensions/hpc/content/Final_Routing.png
  workload-extensions/hpc/content/Instances.png
  workload-extensions/hpc/content/MagicButton.png
  workload-extensions/hpc/content/Network.png
  workload-extensions/hpc/content/ORMHPC.png
  workload-extensions/hpc/content/ORMJobs.png
  workload-extensions/hpc/content/ORMJobsHPC.png
  workload-extensions/hpc/content/ORMUpdated.png
  workload-extensions/hpc/content/ORMUpdatedHPC.png
  workload-extensions/hpc/content/One-OE-LZP.png
  workload-extensions/hpc/content/PostSTEP1.png
  workload-extensions/hpc/content/ProdNetwork.png
  workload-extensions/hpc/content/Routing_HPC_ext.png
  workload-extensions/hpc/content/Routing_ONE-OE_HubA.png
  workload-extensions/hpc/content/UploadBucket.png
  workload-extensions/hpc/content/UploadBucketHPC.png
  workload-extensions/hpc/content/UploadObjects.png
  workload-extensions/hpc/content/output.png
  workload-extensions/hpc/readme.md
  workload-extensions/readme.md
Owners: none

fix: yaml again
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_host_config.json
Owners: none

fix: cloud-init script
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_host_config.json
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_setup.sh
Owners: none

fix: cloud-init script
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_host_config.json
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_setup.sh
Owners: none

fix: cloud-init updates
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_host_config.json
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_setup.sh
Owners: none

Updated screenshots
  workload-extensions/hpc/1_hpc_extension/ORM_HPC-LZ-EXT_deployment_steps.md
  workload-extensions/hpc/1_hpc_extension/readme.md
  workload-extensions/hpc/content/ORMHPC.png
  workload-extensions/hpc/content/ORMJobsHPC.png
  workload-extensions/hpc/content/ORMUpdatedHPC.png
  workload-extensions/hpc/content/UploadBucket.png
  workload-extensions/hpc/content/UploadBucketHPC.png
  workload-extensions/hpc/content/UploadObjects.png
Owners: none

fix: operator setup
  blueprints/multi-oe/service-providers/runtime/docs/MT-CUSTOMER-ONBOARDING.md
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_setup.sh
Owners: none

fix: doc updates
  blueprints/multi-oe/service-providers/runtime/docs/MT-CUSTOMER-ONBOARDING.md
Owners: none

feat: deployment from bucket
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FIREWALL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FOUNDATIONAL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-NETWORKING.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-TOOLING.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-CUSTOMER-ONBOARDING.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED-OKE.md
  blueprints/multi-oe/service-providers/runtime/docs/POD-CUSTOMER-ONBOARDING.md
  blueprints/multi-oe/service-providers/runtime/readme.md
  blueprints/multi-oe/service-providers/runtime/runtime_bucket_setup.sh
Owners: none

feat: doc updates
  blueprints/multi-oe/service-providers/design/images/architecture-mt.png
  blueprints/multi-oe/service-providers/design/images/architecture-mt.svg
  blueprints/multi-oe/service-providers/design/images/architecture-pod.png
  blueprints/multi-oe/service-providers/design/images/architecture-pod.svg
  blueprints/multi-oe/service-providers/design/images/mgmt-plane-tooling.png
  blueprints/multi-oe/service-providers/design/readme.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-TOOLING.md
  blueprints/multi-oe/service-providers/runtime/readme.md
Owners: none

fix: format
  blueprints/multi-oe/service-providers/design/readme.md
Owners: none

feat: doc updates
  blueprints/multi-oe/service-providers/design/images/deployment-sequencing.png
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FIREWALL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FOUNDATIONAL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-NETWORKING.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-TOOLING.md
  blueprints/multi-oe/service-providers/runtime/readme.md
Owners: none

fix: doc updates
  blueprints/multi-oe/service-providers/runtime/docs/MT-CUSTOMER-ONBOARDING.md
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/ansible-playbooks/customer.yml
Owners: none

fix: misc updates
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FIREWALL.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-NETWORKING.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-CUSTOMER-ONBOARDING.md
  blueprints/multi-oe/service-providers/runtime/docs/MT-SHARED-OKE.md
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/bootstrap/bootstrap.json
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/firewall/firewall_config.json
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/network/jump_host_config.json
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/ansible-playbooks/customer.yml
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/ansible-playbooks/rbac.yml
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/k8s-manifests/calico-policy.yml
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_host_config.json
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_setup.sh
  blueprints/multi-oe/service-providers/runtime/runtime_bucket_setup.sh
Owners: none

fix: palo intra config updates
  blueprints/multi-oe/service-providers/design/images/mgmt-plane-network-initial.png
  blueprints/multi-oe/service-providers/design/images/panf-import.png
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-FIREWALL.md
  blueprints/multi-oe/service-providers/runtime/docs/PALO-INTRA-CONFIG.md
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/firewall/panf_base_config.xml
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_host_config.json
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_setup.sh
  blueprints/multi-oe/service-providers/runtime/runtime_bucket_setup.sh
Owners: none

fix: palo infra config updates
  blueprints/multi-oe/service-providers/runtime/docs/PALO-INTRA-CONFIG.md
Owners: none

fix: format
  blueprints/multi-oe/service-providers/runtime/docs/PALO-INTRA-CONFIG.md
Owners: none

fix: ssh public key redacted
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-NETWORKING.md
  blueprints/multi-oe/service-providers/runtime/docs/MPLANE-TOOLING.md
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/firewall/firewall_config.json
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/network/jump_host_config.json
  blueprints/multi-oe/service-providers/runtime/mgmt-plane/tooling/oke_operator_host_config.json
Owners: none

Updates after review
  workload-extensions/hpc/1_hpc_extension/ORM_ONE-OE_deployment_steps.md
  workload-extensions/hpc/content/.$Network.png.bkp
  workload-extensions/hpc/content/.$Routing_ONE-OE_HubA.png.bkp
Owners: none

test
  gen/blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network.auto.tfvars.jsonnet
Owners: none

test
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network.auto.tfvars.json
Owners: @paalonso

bootstrap jsonnet generation
  .githooks/post-commit
  .githooks/pre-commit
  .github/workflows/check-filesize.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/filesize.yml
  gen/README.md
  gen/generate.sh
Owners: none

feat: use jsonnet templating for hub A
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light_post.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_post.auto.tfvars.json
  gen/addons/oci-hub-models/hub_a/hub_a.libsonnet
  gen/addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network.auto.tfvars.jsonnet
  gen/addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light.auto.tfvars.jsonnet
  gen/addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_light_post.auto.tfvars.jsonnet
  gen/addons/oci-hub-models/hub_a/oci_open_lz_hub_a_network_post.auto.tfvars.jsonnet
  gen/addons/oci-hub-models/hub_a/routing_post.libsonnet
  gen/addons/oci-hub-models/network_firewall_policy_example.libsonnet
  gen/blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network.auto.tfvars.jsonnet
  gen/blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light.auto.tfvars.jsonnet
  gen/blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_light_post.auto.tfvars.jsonnet
  gen/blueprints/one-oe/runtime/one-stack/oci_open_lz_hub_a_network_post.auto.tfvars.jsonnet
  gen/blueprints/one-oe/runtime/one-stack/vcn_environments.libsonnet
  gen/blueprints/one-oe/runtime/one-stack/vcn_environments_hub_a.libsonnet
  gen/blueprints/one-oe/runtime/one-stack/vcn_environments_hub_a_post.libsonnet
Owners: @vavardan, @paalonso

feat: use jsonnet for oe security
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl1_addon_sz345.auto.tfvars.json
  blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2.auto.tfvars.json
  gen/blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl1.auto.tfvars.jsonnet
  gen/blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl1_addon_sz345.auto.tfvars.jsonnet
  gen/blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2.auto.tfvars.jsonnet
  gen/blueprints/one-oe/runtime/one-stack/oci_open_lz_one-oe_security_cisl2_addon_sz345.auto.tfvars.jsonnet
Owners: @paalonso

chore: add documentation for jsonnet
  gen/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
  workload-extensions/openshift/1_openshift_extension/oci_openshift_lz_ext_iam.auto.tfvars.json
  workload-extensions/openshift/1_openshift_extension/oci_openshift_lz_ext_network.auto.tfvars.json
  workload-extensions/openshift/contents/openshift_compartments.png
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

updating README.md
  workload-extensions/openshift/README.md
Owners: none

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
Owners: none

cleaned HubE
  addons/oci-hub-models/hub_e/oci_open_lz_hub_e_network.auto.tfvars.json
Owners: @vavardan, @paalonso

updating README.md
  workload-extensions/openshift/1_openshift_extension/README.md
  workload-extensions/openshift/2_openshift_installation/README.md
Owners: none

updating README.md
  workload-extensions/openshift/2_openshift_installation/README.md
Owners: none

updating README.md
  workload-extensions/openshift/2_openshift_installation/README.md
Owners: none

add faq updates
  faq/README.md
Owners: none

CODEOWNERS:

/workload-extensions/ocvs/ @hrvolapeter
/workload-extensions/ebs/ @rphibbert
/workload-extensions/oke/ @paolajuarezgomez
/addons/oci-hub-models/ @vavardan @paalonso
/addons/oci-sovereign-landing-zone/ @vavardan @hrvolapeter @paolajuarezgomez
/addons/oci-lz-subnetting/ @paolajuarezgomez @paalonso
/blueprints/one-oe/runtime/ @paalonso
/blueprints/multi-oe/generic_v1/runtime/ @paalonso
/blueprints/multi-oe/saas/runtime/ @paalonso
/workload-extensions/exacc/ @paalonso
